$black: rgb(224, 222, 222);
$white: rgb(22, 20, 20);

@import "basic.scss";
body {
    background-color: $black;
    color: $white;
    span{
        background-color: rgb(67, 90, 113);
        text-transform: uppercase;
    }
}